/* Button styles
========================================================================== */

.button {
  border: none;
  padding: 8px 12px 8px 20px;
  border-radius: 999px;
  background: var(--color-accent-secondary-500);
  color: var(--color-white-true);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.button.summary {
  color: var(--color-primary-opaque);
  background: var(--color-background-secondary-transparent);
}
.button.sellable,
.button.summary,
.button.top-panel {
  position: relative;
  left: var(--space-12);
}
.button.bottom-panel {
  color: var(--color-global-blue-muted-700);
  background: var(--color-background-informative-transparent);
}
